span

{

color: darkblue;
height: 100px;
width:100px;
padding-right:  10;
background-position: center;
margin-top: 100px;
margin-right: 34px;
border-top: 10px;
border-top: right;
border-right: 34px;


}